<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>


<div>
  <h2>Statistique</h2>
  {{dogCount}} dogs.
  {{catCount}} cats.
  {{rabbitCount}} rabbits.
</div>


<div>
  <h2>Card animals with NGIF</h2>
  <div *ngFor="let animal of animals">
    <app-dog-card (talkEvent)="animalWanToTalk($event)" [dog]="animal" *ngIf="animal.type == 1"></app-dog-card>
    <app-cat-card (talkEvent)="animalWanToTalk($event)" [cat]="animal" *ngIf="animal.type == 2"></app-cat-card>
    <app-rabbit-card (talkEvent)="animalWanToTalk($event)" [rabbit]="animal" *ngIf="animal.type == 3"></app-rabbit-card>
  </div>
</div>

<div>
  <h2>Card animals with NGSWITCH</h2>
  <div *ngFor="let animal of animals" [ngSwitch]="animal.type">
    <app-dog-card (talkEvent)="animalWanToTalk($event)" [dog]="animal" *ngSwitchCase="1"></app-dog-card>
    <app-cat-card (talkEvent)="animalWanToTalk($event)" [cat]="animal" *ngSwitchCase="2"></app-cat-card>
    <app-rabbit-card (talkEvent)="animalWanToTalk($event)" [rabbit]="animal" *ngSwitchCase="3"></app-rabbit-card>
    <p *ngSwitchDefault>
      what the hell is that animal !
    </p>
  </div>
</div>